*{
margin:0;
padding:0;
box-sizing:border-box;
}



body{

margin:0;

padding:30px;

min-height:100vh;

overflow-y:auto;

overflow-x:hidden;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial,sans-serif;

background:#061320;



background:linear-gradient(
180deg,
#021229,
#083C75,
#28B5FF
);

position:relative;
}

.animated-bg{

position:absolute;

width:150%;

height:150%;

background:
radial-gradient(circle,#00ffff22 1px,transparent 1px);

background-size:40px 40px;

animation:bgmove 25s linear infinite;
}

@keyframes bgmove{

from{
transform:translateY(0);
}

to{
transform:translateY(-200px);
}
}

.login-card{

width:92%;

max-width:430px;

padding:45px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

box-shadow:
0 0 45px rgba(0,255,255,.25);

text-align:center;

z-index:10;
}

.logo-eye{

font-size:90px;

animation:pulse 2s infinite;
}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.1);
}

100%{
transform:scale(1);
}
}

h1{

color:white;

font-size:42px;

margin-bottom:10px;
}

p{

color:#d9f7ff;

margin-bottom:30px;
}

input{

width:100%;

padding:16px;

margin-bottom:18px;

border:none;

border-radius:16px;

background:#ffffff22;

color:white;

font-size:16px;
}

input::placeholder{

color:#d0ecff;
}

button{

width:100%;

padding:16px;

border:none;

border-radius:18px;

cursor:pointer;

font-size:16px;
}

.google-btn{

display:flex;

align-items:center;

justify-content:center;

gap:10px;

background:white;

margin-bottom:20px;
}

.google-btn img{

width:22px;
}

.login-btn{

background:#11c6ff;

color:white;

transition:.3s;
}

.login-btn:hover{

transform:translateY(-3px);

box-shadow:0 0 25px cyan;
}

.divider{

color:white;

margin:20px 0;
}

a{

color:#aef3ff;

text-decoration:none;
}

.scan-line{

position:absolute;

width:100%;

height:4px;

background:linear-gradient(
90deg,
transparent,
cyan,
transparent
);

animation:scan 5s infinite;

opacity:.6;
}

@keyframes scan{

0%{
top:-10%;
}

100%{
top:110%;
}
}

.floating{

position:absolute;

font-size:52px;

opacity:.35;

animation:float 7s ease-in-out infinite;
}

.eye{
top:10%;
left:10%;
}

.brain{
top:18%;
right:12%;
}

.chart{
bottom:18%;
left:15%;
}

.health{
bottom:12%;
right:18%;
}

.dna{
top:50%;
right:5%;
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-35px);
}

100%{
transform:translateY(0px);
}
}

@media(max-width:768px){

.login-card{

padding:35px 25px;
}

h1{

font-size:34px;
}

.logo-eye{

font-size:70px;
}
}
/* SPLASH SCREEN */

.splash-body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:
linear-gradient(
180deg,
#010b1f,
#062b57,
#149eff
);

font-family:Arial,sans-serif;
}

.splash-container{

position:relative;

z-index:10;

text-align:center;
}

.eye-logo{

font-size:120px;

animation:
pulseEye 2s infinite,
rotateEye 8s linear infinite;

filter:
drop-shadow(0 0 35px cyan);
}

@keyframes pulseEye{

0%{transform:scale(1);}

50%{transform:scale(1.12);}

100%{transform:scale(1);}
}

@keyframes rotateEye{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}
}

.splash-container h1{

color:white;

font-size:60px;

margin-top:10px;

letter-spacing:3px;
}

.splash-container{

position:relative;

z-index:10;

text-align:center;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;
}
.loader-box{

width:320px;

height:12px;

border-radius:30px;

overflow:hidden;

background:#ffffff22;

margin:0 auto;

position:relative;

left:0;
right:0;
}

.loader-bar{

height:100%;

width:0%;

border-radius:30px;

background:
linear-gradient(
90deg,
#00e5ff,
#6af7ff,
#ffffff,
#00e5ff
);

box-shadow:
0 0 20px cyan,
0 0 40px #00e5ff;

animation:
loading 3s linear forwards;
}
@keyframes loading{

from{
width:0%;
}

to{
width:100%;
}
}

.particles{

position:absolute;

width:100%;
height:100%;

background-image:
radial-gradient(
circle,
rgba(255,255,255,.25) 1px,
transparent 1px
);

background-size:40px 40px;

animation:particleMove 20s linear infinite;
}

@keyframes particleMove{

from{
transform:translateY(0);
}

to{
transform:translateY(-300px);
}
}
/* REGISTER */

.register-card{

width:92%;

max-width:480px;

padding:45px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(22px);

border-radius:32px;

box-shadow:
0 0 50px rgba(0,255,255,.20);

text-align:center;

z-index:10;
}

.register-btn{

background:
linear-gradient(
90deg,
#00d9ff,
#149eff
);

color:white;

margin-top:10px;

transition:.35s;
}

.register-btn:hover{

transform:translateY(-4px);

box-shadow:
0 0 25px cyan;
}

.register-card input:focus{

outline:none;

border:1px solid cyan;

box-shadow:
0 0 18px #00ffff66;
}
/* DASHBOARD */

.dashboard-card{

width:92%;

max-width:650px;

padding:45px;

border-radius:35px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

box-shadow:
0 0 40px rgba(0,255,255,.25);

text-align:center;

z-index:10;
}

.dashboard-card h1{

color:white;

font-size:52px;
}

.dashboard-card p{

color:#dff7ff;

margin-bottom:30px;
}

.status-box{

display:inline-flex;

gap:12px;

align-items:center;

padding:12px 22px;

border-radius:25px;

background:#00ffcc22;

color:#dfffff;

margin-bottom:35px;
}

.status-dot{

width:12px;

height:12px;

border-radius:50%;

background:#00ff84;

box-shadow:
0 0 15px #00ff84;
}

.upload-box{

display:block;

padding:45px;

border:2px dashed #5ae7ff;

border-radius:25px;

cursor:pointer;

margin-bottom:30px;

transition:.3s;
}

.upload-box:hover{

background:#ffffff11;
}

.upload-box input{

display:none;
}

.upload-box h2{

color:white;
}

.analyze-btn{

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:
linear-gradient(
90deg,
#00d4ff,
#008cff
);

color:white;

font-size:18px;

cursor:pointer;

transition:.35s;
}

.analyze-btn:hover{

transform:translateY(-3px);

box-shadow:
0 0 25px cyan;
}