<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>RETINASCAN IA</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="splash-body">

<div class="particles"></div>

<div class="splash-container">

<div class="eye-logo">

👁️

</div>

<h1>RETINASCAN IA</h1>

<p>Inicializando inteligencia médica...</p>

<div class="loader-box">

<div class="loader-bar"></div>

</div>

</div>

<script>

setTimeout(() => {

window.location.href="/login"

},3500)

</script>

</body>

</html>